.Home {
	width: 95%;
	margin: 0 auto;
	color: white;
	background-color: rgb(20, 20, 20);
	&__videos {
		display: grid;
		grid-template-columns: repeat(4, minmax(300px, 1fr));
		grid-template-rows: repeat(3, minmax(200px, 400px));
		grid-gap: 10px;
	}
}
