.videoWrapper{
  width: 500px;
  height: 500px;
  gap: 10px;

  &:hover {
    display: flex;
    
    
  }
  &__video{
    width: 100%;
    object-fit: cover;
  }

  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(12, 12, 12);
  }
}